# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Mac system files
.DS_Store

# Rust target directory
target/
